
/* Clean Message Display */

html, body {
  font-family: sans-serif;
  margin:0;
  border:0;
  -webkit-text-size-adjust: auto;
  word-wrap: break-word; -webkit-nbsp-mode: space; -webkit-line-break: after-white-space;
  line-height: 22px;
  font-size:15px;
  color:#333;
}
body.heightDetermined {
  overflow-y:hidden;
}
div,pre {
  max-width:100%;
}
.gmail_extra {
  display:none;
}
blockquote, .gmail_quote {
  display:none;
}
img {
  max-width: 100%;
  height:auto;
}