<div class="inset heading">
  <span class="sent" ng-show="msg.object != 'draft'" title="{{msg.date.toString()}}">{{msg.date | timestamp_ago}}</span>
  <span class="sent" ng-show="msg.object == 'draft'">DRAFT</span>
  <span class="from">{{msg.from | participants:'long'}}</span>
  <span class="to"> to </span>
  <span class="to">{{msg.to | participants:'long'}}</span>
  <span class="cc" ng-show="msg.cc.length"> cc </span>
  <span class="cc">{{msg.cc | participants:'long'}}</span>
  <span class="bcc" ng-show="msg.bcc.length"> bcc </span>
  <span class="bcc">{{msg.bcc | participants:'long'}}</span>
</div>

<iframe class="body" ng-class="{'no-pointer-events': (msg.object == 'draft')}" seamless="seamless" ng-model="msg.body" in-bind-iframe-contents></iframe>

<div class="inset attachments">
  <a class="attachment" ng-repeat="data in msg.attachmentData" ng-click="ThreadCtrl.viewAttachment(msg, data.id)">{{aID}}
    <div class="pull-left file-type-icon"><span class="corner"></span><span class="type">{{data.filename | extension}}</span></div>
    <div class="pull-left file-name">{{data.filename}}</div>
  </a>
  <div style="clear:both;"></div>
</div>