<div class="modal" ng-controller="ComposeCtrl as Compose" tabindex="-1" role="dialog" style="display: block;">
  <style>
  .composer .input-group {
    width:100%;
    position: relative;
    margin-bottom: 2px;
  }

  .composer .input-group-addon {
    width:60px;
    text-align: left;
  }
  </style>

  <div class="modal-dialog composer" style="width:685px;">
    <div class="modal-content">
      <div class="modal-body">

        <div ng-switch="!!draft.threadID" style="margin-bottom:10px;">
          <div ng-switch-when="true">
            <!-- Draft In Reply To Thread -->
            <div class="input-group">
              <span class="input-group-addon">Recipients:</span>
              <input type="text" readonly make-participants class="form-control" name="to" ng-model="draft.to" />
            </div>
          </div>

          <div ng-switch-when="false">
            <!-- New Draft -->
            <div class="input-group">
              <span class="input-group-addon">To:</span>
              <a ng-hide="expanded" ng-click="expanded = true" class="input-group-add-cc">Show CC/BCC</a>
              <input type="text" make-participants class="form-control" name="to" ng-model="draft.to" />
            </div>
            <div ng-show="expanded || draft.cc.length > 0 || draft.bcc.length > 0">
              <div class="input-group">
                <span class="input-group-addon">CC:</span>
                <input type="text" make-participants class="form-control" name="cc" ng-model="draft.cc" />
              </div>
              <div class="input-group">
                <span class="input-group-addon">BCC:</span>
                <input type="text" make-participants class="form-control" name="bcc" ng-model="draft.bcc" />
              </div>
            </div>
          </div>

        </div>

        <div class="input-group" style="margin-bottom:10px;">
          <input type="text" ng-readonly="draft.threadID" class="form-control" placeholder="Subject" name="subject" ng-model="draft.subject" />
        </div>

        <div summer-note ng-model="draft.body" height="200"></div>

      </div>

      <div class="modal-footer">
        <div class="attachments">
          <div class="attachment" ng-repeat="attachment in draft.attachments">
            <i class="glyphicon glyphicon-{{attachment.content_type | type_to_glyph }}"></i>
            {{attachment.filename}} ({{attachment.size | pretty_size}})
            <a class="btn btn-default" href="#" ng-click="Compose.removeAttachment(attachment)"><i class="glyphicon glyphicon-remove-circle"></i>&nbsp;Remove</a> 
          </div>
        </div>
        <span style="padding-right:10px;">{{Compose.statusMessage}}</span>
        <form id="attachment">
        <input type="file" id="upload" name="upload" style="visibility: hidden; width: 1px; height: 1px" multiple ng-onchange="Compose.attach()" />
        </form>
        <div class="btn-group pull-left">
          <button type="button" class="btn btn-default" ng-click="Compose.disposeClicked()"><i class="glyphicon glyphicon-trash"></i>&nbsp;Delete</button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default" ng-click="Compose.attachClicked()"><i class="glyphicon glyphicon-paperclip"></i>&nbsp;Attach</button>
          <button type="button" class="btn btn-default" ng-click="Compose.saveClicked()"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;Save</button>
          <button type="button" class="btn btn-default" ng-click="Compose.sendClicked()"><i class="glyphicon glyphicon-send"></i>&nbsp;Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
