
<div class="pull-right" style="margin-right:15px; margin-top:15px;">
  <a class="btn btn-default" ng-click="ThreadCtrl.replyClicked()"><i class="glyphicon glyphicon-share-alt"></i> Reply</a>
  <a class="btn btn-default" ng-click="ThreadCtrl.archiveClicked()" ng-show="ThreadCtrl.thread.hasTag('inbox')"><i class="glyphicon glyphicon-folder-close"></i> Archive</a>
</div>

<script type="text/css" id="iframe-css">
<style>
/* Clean Message Display */
html, body {
  font-family: sans-serif;
  border:0;
  -webkit-text-size-adjust: auto;
  word-wrap: break-word; -webkit-nbsp-mode: space; -webkit-line-break: after-white-space;
  line-height: 22px;
  font-size:15px;
  color:#333;
  margin:0;
  padding:0;
}
body {
  width:640px;
  margin: auto;
  padding-top:10px;
  padding-bottom:10px;
}
body.heightDetermined {
  overflow-y:hidden;
}
div,pre {
  max-width:100%;
}
.gmail_extra {
  display:none;
}
blockquote, .gmail_quote {
  display:none;
}
img {
  max-width: 100%;
  height:auto;
}
</style>
</script>

<div class="centered">

  <div class="message-subject">{{ThreadCtrl.thread.subject || "No Subject"}}</div>

  <div class="message-list">
    <!-- Display messages -->
    <div class="message" ng-repeat="msg in ThreadCtrl.messages">

      <div class="inset heading">
        <span class="sent" title="{{msg.date.toString()}}">{{msg.date | pretty_date}}</span>

        <span class="from" ng-repeat="from in msg.from" bs-tooltip data-trigger="hover" data-title="{{from.email}}">{{from.name}}</span>
        <span class="to"> to </span>
        <span class="to" ng-repeat="to in msg.to" bs-tooltip data-trigger="hover" data-title="{{to.email}}">{{to.name}}</span>
      </div>

      <iframe class="body" seamless="seamless" ng-model="msg.body" in-bind-iframe-contents></iframe>
      <div class="inset attachments">
        <a class="attachment" ng-repeat="data in msg.attachmentData" ng-click="ThreadCtrl.downloadAttachment(msg, data.id)">{{aID}}
          <div class="pull-left file-type-icon">
            <span class="corner"></span>
            <span class="type">html</span>
          </div>
          <div class="pull-left file-name">{{data.filename}}</div>
        </a>
        <div style="clear:both;"></div>
      </div>
    </div>

    <!-- Display drafts -->
    <div class="draft" ng-repeat="draft in ThreadCtrl.drafts" style="background-color:yellow;">
      <div class="state">{{draft.state}}</div>
      <div class="body" ng-bind-html="draft.body"></div>
      <a ng-click="Mail.launchDraftModal(draft)">Edit Draft</a>
    </div>
  </div>

  <!-- Empty State -->
  <div class="panel-body" ng-show="ThreadCtrl.drafts && ThreadCtrl.messages && ThreadCtrl.drafts.length + ThreadCtrl.messages.length == 0">
    <p>
      This thread does not contain any messages.
    </p>
  </div>

  <!-- Loading State -->
  <div ng-show="!ThreadCtrl.messages" class="loading-indicator">
    <div class="r1"></div><div class="r2"></div><div class="r3"></div><div class="r4"></div><div class="r5"></div>
  </div>

</div>
