
<div style="position: absolute; right: 15px; top: 15px;">
  <a class="btn btn-default" ng-click="ThreadCtrl.replyClicked();"><i class="glyphicon glyphicon-share-alt"></i> Reply</a>
  <a class="btn btn-default" ng-click="ThreadCtrl.archiveClicked()" ng-show="ThreadCtrl.thread.hasTag('inbox')"><i class="glyphicon glyphicon-folder-close"></i> Archive</a>
</div>

<script type="text/css" id="iframe-css">
<style>
/* Clean Message Display */
html, body {
  font-family: sans-serif;
  border:0;
  -webkit-text-size-adjust: auto;
  word-wrap: break-word; -webkit-nbsp-mode: space; -webkit-line-break: after-white-space;
  line-height: 22px;
  font-size:15px;
  color:#333;
  margin:0;
  padding:0;
}
body {
  width:640px;
  margin: auto;
  padding-top:10px;
  padding-bottom:10px;
}
body.heightDetermined {
  overflow-y:hidden;
}
div,pre {
  max-width:100%;
}
.gmail_extra {
  display:none;
}
blockquote, .gmail_quote {
  display:none;
}
img {
  max-width: 100%;
  height:auto;
}
</style>
</script>

<div ng-class="{replying: replying}">

  <div class="message-subject">{{ThreadCtrl.thread ? (ThreadCtrl.thread.subject || "No Subject") : "&nbsp;"}}</div>

  <div class="message-list centered">
    <!-- Display messages -->
    <div id="msg-{{msg.id}}" class="message" ng-class="{'unread': msg.unread}" ng-include="'/partials/_message.html'" ng-repeat="msg in ThreadCtrl.messages"></div>

    <!-- Display drafts -->
    <div id="msg-{{msg.id}}" ng-class="{editing: ThreadCtrl.draft==msg}" class="message draft" ng-include="'/partials/_message.html'" ng-repeat="msg in ThreadCtrl.drafts" ng-click="ThreadCtrl.draftClicked(msg)"></div>

  </div>

  <!-- Empty State -->
  <div class="panel-body centered" ng-show="ThreadCtrl.drafts && ThreadCtrl.messages && ThreadCtrl.drafts.length + ThreadCtrl.messages.length == 0">
    <p>
      This thread does not contain any messages.
    </p>
  </div>

  <!-- Loading State -->
  <div ng-show="!ThreadCtrl.messages" class="loading-indicator centered">
    <div class="r1"></div><div class="r2"></div><div class="r3"></div><div class="r4"></div><div class="r5"></div>
  </div>

  <!-- Attachment Preview -->
  <div class="lightbox" ng-show="ThreadCtrl.currentAttachmentDataURL || ThreadCtrl.currentAttachmentLoading" ng-click="ThreadCtrl.hideAttachment()">
    <div class="lightbox-pane">
      <div ng-show="ThreadCtrl.currentAttachmentLoading" class="loading-indicator">
        <div class="r1"></div><div class="r2"></div><div class="r3"></div><div class="r4"></div><div class="r5"></div>
      </div>
      <div ng-show="ThreadCtrl.currentAttachmentDataURL">
        <img ng-src="{{ThreadCtrl.currentAttachmentDataURL}}"/>
        <a ng-click="ThreadCtrl.downloadCurrentAttachment();">Download this Image</a>
      </div>
    </div>
  </div>

  <!-- Compose State -->
  <div class="composer-reply" ng-include="'/partials/compose.html'" ng-show="replying"></div>

</div>
